header, nav, main, section, article {
            padding: 10px;
        }


        nav {
            background-color: #333;
            
        }


        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }


        nav li {
            margin: 0;
        }


        nav a {
            color: white;
            text-decoration: none;
            padding: 15px 20px;
            display: block;
        }


        nav a:hover {
            background-color: #555;
            border-radius: 10px;
        }
   ul li a img{
    width: 30px;
    
   }
   li a img:hover{
    width: 40px;
   }
